@model IEnumerable<T5.Brothership.Entities.Models.Game>

@{
    ViewBag.Title = "GameSearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GameSearchResults</h2>

<p>
    @using (Html.BeginForm("GameSearchResults", "Search", FormMethod.Get, new { search = "Game" }))
    {
        @Html.TextBox("Search")
        <div>
            <input type="submit" value="Search" />
        </div>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "UsersByGame", "Search", new { igdbid = item.igdbID }, null)
        </td>
    </tr>
}

</table>
