@model IEnumerable<T5.Brothership.Entities.Models.Game>

@{
    ViewBag.Title = "GameSearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Game Search</h1>

<p>
    @using (Html.BeginForm("GameSearchResults", "Search", FormMethod.Get, new { search = "Game" }))
    {
        <div class="row">
            <div class="col-12 d-block text-center">
                @Html.TextBox("Search")
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-block text-center">
                <input type="submit" class="btn btn-lg btn-primary" value="Search" />
            </div>
        </div>
    }
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-default portfolio-item">
                    <img class="img-responsive panel-body d-block text-center" src="//images.igdb.com/igdb/image/upload/t_cover_big/@(item.ImgCloudinaryId).jpg" />
                    <h4 class="panel-heading title-container text-center">
                        @Html.ActionLink(item.Title, "UsersByGame", "Search", new { igdbid = item.igdbID }, null)
                    </h4>
                </div>
            </div>
        }
    </div>
</div>
