@model IEnumerable<T5.Brothership.Entities.Models.Game>

@{
    ViewBag.Title = "GameSearchResults";
    Layout = "~/Views/Shared/Search.cshtml";
}

<h1 class="text-center">Game Search</h1>

<p>
    @using (Html.BeginForm("GameSearchResults", "Search", FormMethod.Get, new { search = "Game" }))
    {

        @Html.ActionLink("Users", "SearchResults", new { search = Request.Params["Search"] })
        <div class="row">
            <div class="col-12 d-block text-center">
                @Html.TextBox("Search")
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-block text-center">
                <input type="submit" class="btn btn-lg btn-primary" value="Search" />
            </div>
        </div>
    }
</p>

<div class="row">
    <div class="col-md-12">
        <ul class="grid effect" id="grid">
        @foreach (var item in Model)
        {
            <li>
                <div class="fancybox" data-fancybox-group="gallery">
                    <a href="@Url.Action("UsersByGame", "Search", new { igdbid = item.igdbID })"><img class="" src="//images.igdb.com/igdb/image/upload/t_cover_big/@(item.ImgCloudinaryId).jpg" /></a>
                    <h4 class="">
                        @item.Title
                    </h4>
                </div>
            </li>
        }
        </ul>
    </div>
</div>
