@model IEnumerable<T5.Brothership.Entities.Models.User>

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">User Search</h1>

<p>
    @using (Html.BeginForm("SearchResults", "Search", FormMethod.Get, new { search = "User" }))
    {
       <div class="row">
        <div class="col-12 d-block text-center">
            @Html.TextBox("Search")
        </div>
       </div>
       <div class="row">
        <div class="col-12 d-block text-center">
            <input type="submit" class="btn btn-lg btn-primary" value="Search" />
        </div>
       </div>
    }
</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
             @*@Html.DisplayNameFor(model => model.UserName)*@
        </div>       
        <div>
            @*@Html.DisplayNameFor(model => model.ProfileImagePath)*@
        </div>       
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <img src="@item.ProfileImagePath" alt="" class="img-responsive portfolio-item panel-body">
                    <h4 class="panel-heading text-center">
                        @Html.ActionLink(item.UserName, "User", "User", new { userName = item.UserName }, null)
                    </h4>
                </div>
            </div>
        }
    </div>
</div>
