.bodyPadding {
    padding-top: 12rem;
}

.top-margin {
    padding-top: 10px;
}

.portfolio-item {
    padding-top: 3.5rem;
}

.game-image-title {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: whitesmoke;
    width: 100%;
    display: block;
}

.profile-info-container {
    background-color: #212121;
    border-radius: .5em;
    padding: 1em;
    color: white;
}

.profile-info-container h4{
    color:white;
}

.icoTwitch:hover {
    background-color: #6441a5;
}

#UpdateMenu {
    list-style: none;
    margin-top: 1em;
}

#UpdateMenu li {
    display: inline;
    padding: 1em;
}

.UpdateMenuLinkNotSelected {
    color: black;
}

.UpdateMenuItemSelected, #UpdateMenu li a:hover {
    border-bottom:solid;
    border-width:2px;
    text-decoration:none;
}

.UpdateMenuItemSelected:hover, #UpdateMenu li:hover {
    cursor:default;
    text-decoration:none;
}

