@model IEnumerable<T5.Brothership.Entities.Models.Game>

@{int itemNumber = 0; }

@foreach (var item in Model)
{
    <li>
        <button id="Item-@{@itemNumber}" onclick="ItemClicked(event);" style="background-color:transparent; border:thin; width:100%; margin-top:.5em; margin-bottom:.5em; text-align:left;">
            <span>
                <img style="width:34px;" src="//images.igdb.com/igdb/image/upload/t_cover_med/@(item.ImgCloudinaryId).jpg" />
            </span>
            <span>
                @Html.DisplayFor(modelItem => item.Title)
            </span>
            <span>
                @Html.HiddenFor(modelItem => item.igdbID)
            </span>
        </button>
    </li>

    itemNumber++;
}
