@model List<T5.Brothership.Entities.Models.Game>

@{
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "LoadingGif",
        HttpMethod = "Get",
        OnBegin = "ClearSearchItems",
        OnComplete = "SetSearchPage"
    };
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div style="float:right;width:50%;">
    @using (Ajax.BeginForm("SearchIGDB", "Game", new { limit = 50, page = 0 }, options))
    {
        <div>
            @Html.TextBox("gameTitle", null, new { id = "Search" })
            <input type="submit" value="Search" id="SearchButton" />
        </div>
    }

    <div id="ScrollingSearch" style="border:solid; height:14em;  overflow-y:scroll;">
        <div id="LoadingGif" style="display:none;">
            <img style="margin-left:auto; display:block; margin-right:auto; margin-top:2em;" src="~/images/ajax-loader.gif" />
        </div>
        <ul style="list-style:none" id="searchResult">
            @Html.Action("SearchIGDB", "Game", new { title = "" })
        </ul>
    </div>
</div>

<div style="border:solid; height:14em; margin-top:2em; width:50%; float:left; overflow-y:scroll;">
    <ul style="list-style:none" id="UserGames">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li>
                <button id="Item-@{@i}" onclick="GameListItemClicked(event);" style="background-color:transparent;
                    border:thin; width:100%; margin-top:.5em; margin-bottom:.5em; text-align:left;">
                    <span>.
                        <img style="height:46px;" src="//images.igdb.com/igdb/image/upload/t_cover_med/@(Model[i].ImgCloudinaryId).jpg" />
                    </span>
                    <span>
                        @Html.DisplayFor(modelItem => Model[i].Title)
                    </span>
                    <span>
                        @Html.HiddenFor(modelItem => Model[i].igdbID)
                    </span>
                </button>
            </li>
    }
    </ul>
</div>

@{
    AjaxOptions optionsScrollLoad = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.InsertAfter,
        HttpMethod = "Get",
        OnComplete = "IncrementSearchPage",
        OnFailure = "SearchHasNoMoreItems"
    };
}

@using (Ajax.BeginForm("SearchIGDB", "Game", optionsScrollLoad))
{
    <div>
        <input name="gameTitle" value="" id="ScrollingSearchTitleInput" type="hidden" />
        <input name="page" value="" id="ScrollingSearchPageInput" type="hidden" />
        <input name="limit" value="50" type="hidden" />
        <button type="submit" style="visibility:hidden" value="Search" id="FakeSearchButton">Search</button>
    </div>
}
<script src="~/Scripts/GameSearchHelper.js"></script>
